# PostgreSQL
POSTGRES_USER=aieco
POSTGRES_PASSWORD=change_me

# Label Studio (Postgres auto-creates this database on first boot)
LABEL_STUDIO_DB=labelstudio
LABEL_STUDIO_USERNAME=admin@example.com
LABEL_STUDIO_PASSWORD=change_me
